# Laravel / PHP ignores
/vendor/
node_modules/
.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Composer & npm artifacts
/composer.lock
/package-lock.json
/yarn.lock

# Visual Studio / IDE ignores
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output (C# / .NET)
bin/
obj/

# System files
.DS_Store
Thumbs.db
